global
    maxconn 100

defaults
    mode tcp
    timeout connect 10s
    timeout client 1h
    timeout server 1h
    timeout tunnel 1h
    default-server inter 2s fall 2 rise 2 on-marked-down shutdown-sessions

frontend postgres_write
    bind *:5432
    default_backend postgres_primary

backend postgres_primary
    option httpchk GET /primary
    http-check expect status 200
    server pg-node-1 pg-node-1:5432 check port 8008
    server pg-node-2 pg-node-2:5432 check port 8008
    server pg-node-3 pg-node-3:5432 check port 8008

frontend postgres_read
    bind *:5433
    default_backend postgres_replicas

backend postgres_replicas
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    server pg-node-1 pg-node-1:5432 check port 8008
    server pg-node-2 pg-node-2:5432 check port 8008
    server pg-node-3 pg-node-3:5432 check port 8008
