global
    maxconn 100

defaults
    mode tcp
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend postgres_write
    bind *:5432
    default_backend postgres_primary

backend postgres_primary
    option tcp-check
    server pg-primary pg-primary:5432 check

frontend postgres_read
    bind *:5433
    default_backend postgres_replicas

backend postgres_replicas
    balance roundrobin
    option tcp-check
    server pg-replica-1 pg-replica-1:5432 check
    server pg-replica-2 pg-replica-2:5432 check
